In [ ]:
# Ans 1 : 

"""
DATABASE : A database is an organized collection of structured information, or data, 
typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). 
Together, the data and the DBMS, along with the applications that are associated with them, 
are referred to as a database system, often shortened to just database.


### Difference between SQL and No SQL
SQL databases are relational, and NoSQL databases are non-relational.
SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.
"""

In [ ]:
# Ans 2 : DDL and explain CREATE DROP ALTER AND TRUNCATE

"""
Data Definition Language or DDL commands in standard query language(SQL) are used to describe/define the database schema. 
These commands deal with database schema creation and its further modifications. 
Some popularly known DDL commands are CREATE, ALTER, DROP and  TRUNCATE

CREATE : Used for creating database objects like a database and a database table.
ALTER  : Used for modifying and renaming elements of an existing database table.
DROP   : Used for removing an entire database or a database table.
TRUNCATE : Used to remove all the records from a database table. 


CREATE database practice_db;

CREATE TABLE practice_db.customer_details
(
 
customer_id int NOT NULL,
customer_name varchar(255) NOT NULL,
location varchar(55) NOT NULL,
store_state varchar (10),
amount_spent int,
order_id varchar(10) NOT NULL
sale_date varcahr (20)
);

ALTER TABLE practice_db.customer_details
    ADD email_address practice_db.character varying(255);

ALTER TABLE practice_db.customer_details
DROP amount_spent;

TRUNCATE TABLE practice_db.customer_details
"""

In [ ]:
# Ans 3 : What is DML? Explain INSERT, UPDATE, and DELETE with an example
"""

Data Manipulation Language (DML) commands in SQL deals with manipulation of data records stored within the database tables. 
It does not deal with changes to database objects and its structure.
The commonly known DML commands are INSERT, UPDATE and DELETE.

INSERT : Used to insert new data records or rows in the database table
UPDATE : Used to set the value of a field or column for a particular record to a new value
DELETE : Used to remove one or more rows from the database table

INSERT INTO practice_db.customer_details (
customer_id, sale_date, amount_spent, store_state, order_id)
VALUES (1005,'2019-12-12',4200,'NY','1007');

UPDATE practice_db.customer_details
SET store_state = 'DL'
WHERE store_state = 'NY';

DELETE FROM customers
WHERE store_state = 'DL'
AND customer_id = '1001';

"""

In [ ]:
# Ans 4 :  DQL and explain SELECT

"""
Data Query Language (DQL) - The Data Query Language is the sublanguage responsible for reading, or querying, data from a database. 
In SQL, this corresponds to the SELECT

SELECT statements are used to retrieve data from the database and also, they populate the result of the query into the result-sets. 

SELECT customer_name FROM practice_db.customer_details
WHERE order_id > 0000215001

"""

In [ ]:
# Ans 5 : PRIMARY KEY AND FOREIGN KEY

"""

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. 
It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. 
It is a column (or columns) that references a column (most often the primary key) of another table.
The table which contains the foreign key is often called the child table, 
and the table whose primary key is being referred by the foreign key is called the Parent Table.

creating primary key
CREATE TABLE parentTable (
    col1 int NOT NULL,
    col2 varchar(50) NOT NULL,
    col3 int,
    …………….
    PRIMARY KEY (col1)
);

CREATE TABLE childTable (
    col1 int NOT NULL,
    col2 int NOT NULL,
    col3 int,
    ………...
    PRIMARY KEY (col1),
    FOREIGN KEY (col3) REFERENCES parentTable(parent_Primary_key)
);

Drop Primary Key  AND foreign key in SQL

ALTER TABLE tableName
DROP PRIMARY KEY;

ALTER TABLE tableName
DROP FOREIGN KEY foreignKeyName;

"""

In [ ]:
#Ans 6 

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

"""
The cursor class Enables Python scripts to use a database session to run SQL commands. 
They are permanently connected to the connection, and all instructions are run in the context of the database session covered by the connection. 
Cursors generated from the same connection aren’t separated, 
which means that any alterations made to the database by one cursor are incontinently visible to the others.
"""

mycursor = mydb.cursor()

"""
Prepare a database operation and run it (query or command).
Parameters can be provided in the form of a series or a mapping, and they’ll be tied to variables in the operation.
Positional (% s) or named (% (name)s) placeholders are used to specify variables.
"""

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

In [ ]:
# Ans 7 : Give the order of execution of SQL clauses in an SQL query.

"""
The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.

"""